
h1,h2,h3{
  font-family: "Outfit", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  .logo1{
    margin-top: 200px;

    max-width: 520px;
    max-height: 470px;
   
      

  }

  .describe{
    color: black;
    letter-spacing: 2px;
    font-size: 27px;
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    text-align: center;
  }

  .main_button{
    all: unset;
    background: linear-gradient(45deg, #0d47a1, #1e88e5, #0076a3);
    color: white;
    text-align: center; 
    background-size: 200% 100%;
    background-position: 0% 0%;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-position 0.5s ease;
  }

  .main_button:hover{
    background-position: 100% 0;
   


  }

  body{
    background-color: #EAEAE9;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    width: 100%;
  }
  .help{
    background-color: #EAEAE9;
    border-radius: 20px;
    border: 2px solid #000000;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    

  }
  .help:hover{
    background-color: #000000;
    color: #EAEAE9;
  }
  .frame{
    background: linear-gradient(45deg, #0d47a1, #1e88e5, #0076a3);
    margin-top: 10px;
    border-radius: 15px;
    
    width: 1000px;
    height: 400px;
    
    
  }
  .step{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .step1{
    color: white;
    text-align: center;
    
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    margin-left: 70px;
    
    
    

  }
  .step1_sub{
    color: white;
    text-align: center;
    margin-right: 140px;
    
   
  }

  .h2{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    
  }

  .form{
    
    display: flex;
    justify-content: center;
  
  }
  .name_description1{
    all: unset;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #000000;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 130px;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.2);
  }
  .name_description2{
    all: unset;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #000000;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 120px;
    margin-right: 10px;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.2);
  }

  .name_description1::placeholder{
    font-family: "Outfit", sans-serif;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .name_description2::placeholder{
    font-family: "Outfit", sans-serif;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .submit{
    display: block;
    background-color: #EAEAE9;
    color: black;
    padding: 10px 45px;
    width: fit-content;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #000000;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 500; /* Исправлено */
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto 0;
  }
  .submit:hover{
    background: black;
    color: #EAEAE9;
  }
  
  .logo2{
    justify-content: left;
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-left: 20px;
  }
  

  .basic_inf{
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
  }

  .sub_title_basic{

    font-family: "Outfit", sans-serif;
    font-weight:500px;
    font-weight:200px;
    opacity: 0.8;
    color: rgb(205, 205, 205);
    text-align: center;
    font-size: 15px;
    padding-top: 0 auto;
  }


  .step2{
    color: white;
    text-align: center;
    margin-left: 110px;
  }

  .step2_sub{
    color: white;
    text-align: center;
    margin-right: 140px;
   
  }
  .step3{
    color: white;
    text-align: center;
    margin-left: 160px;
  }

  .step3_sub{
    color: white;
    text-align: center;
    margin-right: 140px;
    
   
  }
.container_person{
    background-color: #ffffff ;
    margin-top: 10px;
    border-radius: 15px;
    width: 1200px;
    height: auto;
    white-space: normal; 
    padding-bottom:20px;
    padding-top:20px;
}
.container_in_container{
    background: linear-gradient(45deg, #0d47a1, #1e88e5, #0076a3);
    margin: 10px 20px 20px 20px;
    border-radius: 15px;
    margin:0 auto 10px;
    margin-top: 20px;
    width: 1100px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.con_in_con_con{
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

  .title_persona{
    font-family: "Outfit", sans-serif;
    font-weight:500px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .persona-name{
    font-family: "Outfit", sans-serif;
    font-weight:500;
    font-size: 55px;
    text-align: center;
    margin: 0 auto;
    padding-top:30px;
    padding-bottom:30px;
  }

.container_demograghics{
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom: 50px;
  padding-left:30px 
}

.demographics{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 35px;
  margin-left:10px;
  text-align: left;
}
.left-aligned-content {
  /* Ширина 100% позволяет блоку занять всю ширину родителя */
  width: 100%;
  text-align: left;
  margin-top: 20px; /* Отступ сверху для разделения блоков */
}

.field-age,.field-industry,.field-location,.field-family-status{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  background: linear-gradient(45deg, #0d47a1, #1e88e5, #0076a3);
  
      /* 2. Обрезаем фон по контуру текста */
      -webkit-background-clip: text;
      background-clip: text;
  
      /* 3. Делаем сам текст прозрачным, чтобы был виден фон */
      -webkit-text-fill-color: transparent;
      color: transparent; /* Резервное свойство */
}

.psychotype {
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

.psychographics {
  padding-left:30px
}

.title_psychographics {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px
  
}

.field-hobbies {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
}

.channels {
  padding-left:30px
}

.title_channels {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
}

.field-channels {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom:30px
}


.challenges {
  padding-left:30px
}

.title_challenges {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
}

.field-frustrations {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom: 30px
}

.pain {
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

.title_pain {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px;
  padding-left:30px;
}

.pain-points {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom: 10px;
  
}

.emothional_deep {
  padding-left:30px
}

.explain_pain {
  padding-left:30px
}

.budget {
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

.title_budget {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px;
  padding-left:30px;
}

.explain {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom: 20px;
}

.willing_pay {
  padding-left:30px
}

.what_justifies {
  padding-left:30px
}
.media_habits{
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}
.media {
  padding-left:30px
}
.title_media{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px;
  padding-bottom:50px;
}
.info-habits {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
}
.where{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 35px;
  text-align: left;
  margin: 0 auto;
}
.what{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 35px;
  text-align: left;
  margin: 0 auto;
}
.who{
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 35px;
  text-align: left;
  margin: 0 auto;
}
.field-info-sources {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom:30px
}

.content_type {
  padding-left:30px
}

.field-content-type {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom:30px
}

.trust {
  padding-left:30px
}

.field-trusted-sources {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-bottom:30px;
}

.solves {
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

.title_solves {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px;
  padding-left:30px;
  padding-bottom:30px;
}

.solution {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-left:30px;
  padding-bottom:30px;
}

.potential {
  background-color:  #ffffff ;
  border-radius: 15px;
  margin: 0 auto 20px;
  width: 1000px;
  margin-bottom: 30px;
}

.title_potential {
  font-family: "Outfit", sans-serif;
  font-weight:500;
  font-size: 55px;
  text-align: left;
  margin: 0 auto;
  padding-top:30px;
  padding-left: 30px;
}

.objections {
  font-family: "Outfit", sans-serif;
  font-weight:300;
  font-size: 25px;
  text-align: left;
  padding-left: 30px;
  padding-bottom:30px;
}