{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Create</title>
</head>
<body>
    
    {% block header %}
    <div class="header" >
        <a href="{% url 'about' %}">
        <img class="logo2" src="{% static 'logo1.png' %}"  alt="logo2">
        </a>
        <button class="help" >Help</button>
    </div>
    {%endblock%}
    {%block container%}  
    {%block step%}
    <h2 class="step" >Step {{current_step}}</h2>
    {%endblock%}
    {%block frame%}
    <div class="container" >
        <div class="frame" >
            {%block text%}
            <h1 class="basic_inf" >Basic information</h1>
            <h3 class="sub_title_basic" >This information will be used by AI for <br>better results.</h3>
            <div class="h2" >
                <h2 class="step1" >What is the name of your product?</h2>
                <h2 class="step1_sub">Describe your product?</h2>
            
            </div>
           
   
            <form method="post" class="submit_all" >
                {% csrf_token %}
            <div  class="form" >
                
                    <textarea class="name_description1" placeholder="For example: AdNova" name="company_name" id=""></textarea>
                
                
                    <textarea class="name_description2" placeholder="Your description" name="product_description" id=""></textarea>
                
                
                </div>
                <button class="submit" type="submit" >Send</button>
                {%endblock%}
            </form>
        </div>
        {%endblock%}
    </div>
    {%endblock%}

</body>
</html>